@charset "UTF-8";
/* base.css */
/* ir기법적용 */
.hidden { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a { width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-position: 0 0; }

.hidden_wrap a > span { width: 0; height: 0; display: block; overflow: hidden; }

/* clear:both 적용 */
.clearfix:after, .cf:after { content: " "; display: block; clear: both; }

/* table:sett */
table { border: 2px solid #575757; border-left: 0; border-right: 0; }

thead { background-color: #cfcfcf; }

tbody td { border-top: 1px solid #575757; vertical-align: middle; text-indent: 3px; }

tbody th { background-color: #cfcfcf; }

/* nav last, first margin */
.nav_fr li:first-child, .nav_la li:last-child { margin: 0; padding: 0; border: 0; }

/* reset.css */
/* basic */
html, body { width: 100%; height: 100%; }

html, body, h1, h2, h3, h4, h5, h6, p, div, form, fieldset, table, tr, td, th, thead, tbody, tfoot, img, ul, ol, li, dt, dd, dl { margin: 0; padding: 0; border: 0; outline: 0; color: #373737; font-size: 100%; line-height: 1.2; font-family: arial,'Nanum Gothic', sans-serif,'Hanna', fantasy; }

/* set_1 */
ul, ol, li { list-style: none; }

a { text-decoration: none; color: inherit; }

a:hover { color: #373737; }

table, th, td { border-spacing: 0; border-collapse: collapse; }

/* set_2: form */
input, select, textarea { box-sizing: border-box; border: 1px solid #ccc; }

button, input[type="button"], input[type="submit"], input[type="reset"] { border: 0; cursor: pointer; }

/* focus */
a:focus, input:focus, button:focus, textarea:focus, select:focus { outline: 3px solid #005fca; outline-offset: 5px; position: relative; z-index: 1000; }

/* html5 */
header, article, aside, footer, nav, figure, main, srcset { display: block; }

/*header*/
#header ul { font-family: 'Hanna', fantasy; }

#header li { font-family: 'Hanna', fantasy; }

/*#lnb_area*/
#main_icon > h2 { font-family: 'Hanna', fantasy; }

#lnb_box li { font-family: 'Hanna', fantasy; }

h2 { font-size: 2.3em; color: #fff; }

#header { width: 100%; height: auto; clear: both; }

#headBox { width: 960px; height: 100px; margin: 0 auto; }

h1 { width: 300px; height: 100px; background-image: url(../../img/main/logo_h1.png); margin: 0 auto; background-size: 100%; background-repeat: no-repeat; background-position: 0; }

h1 > a { display: block; width: 100%; height: 100%; }

#unb { width: 110px; height: 50px; float: right; margin-top: -75px; }

#unb select { width: 110px; height: 20px; margin-bottom: 10px; }

#unb #search { width: 110px; height: 20px; float: left; border: none; border-bottom: 1px solid #373737; }

#unb #search_img { width: 20px; height: 20px; margin-left: -20px; float: left; border: none; }

.header_gnb { width: 100%; height: auto; background-color: #005fca; }

#gnb { width: 800px; height: 50px; background-color: #005fca; margin: 0 auto; transition: all .3s ease-in; text-indent: 2em; position: relative; }

#gnb:hover .gnb_menu { height: 300px; position: absolute; z-index: 1000; }

#gnb::after { content: " "; display: block; position: absolute; width: 100vw; /* height: 300px; */ top: 50px; left: 50%; margin-left: -50vw; z-index: 150; background-color: #eee; height: 0; transition: all .3s ease-in; }

#gnb:hover::after { height: 300px; z-index: 150; }

#gnb > li { width: 200px; height: 100%; float: left; }

#gnb > li > a { width: 100%; height: 100%; display: block; line-height: 50px; color: #fff; font-size: 1.3em; }

#gnb > li:first-child ul { border-left: none; }

#gnb > li > ul:hover { background-color: #ccc; }

.gnb_menu { width: 200px; /*height: 300px; */ background-color: #eee; height: 0; overflow: hidden; transition: all .3s ease-in; }

.gnb_menu { border-left: 1px solid #ccc; transition: all .3s ease-in; }

.gnb_menu > li { padding-top: 10px; padding-bottom: 10px; }

.gnb_menu > li:hover { background-color: #005fca; color: #fff; }

.gnb_menu > li > a { width: 100%; height: 100%; display: block; }

.gnb_menu > li > a:hover { width: 100%; height: 100%; display: block; background-color: #005fca; color: #fff; }

/*# sourceMappingURL=header.css.map */
